@using HiddenVilla_Server.Model
<div class="bg-light border p-2 col-5 m-2">
           <h4>Room - @Room.Id</h4>
           <p>@Room.RoomName</p>
           <p>@Room.Price.ToString("c")</p>
           <label>
               <input type="checkbox" @bind-value="Room.IsActive" checked="@(Room.IsActive?"checked": null)"/> Is Active
           </label>
           <p>This room is @(Room.IsActive? "Active" : "Inactive")</p>
                @if(Room.IsActive)
                {
                    @foreach(var roomProp in Room.RoomProps)
                    {
                        <p>@roomProp.Name - @roomProp.Value</p>
                    }
                }
            <EditDeleteButton IsAdmin="true"></EditDeleteButton>
</div>

@code {
    [Parameter]
    public BlazorRoom Room { get; set; }
}
